.idea/
*.sln.iml
*.sln.dotSettings
**/.idea
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/modules.xml

**/.idea/**/shelf/
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/gradle.xml

.idea/**/inspectionProfiles
.idea/**/misc.xml
.idea/**/runConfigurations

bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

packages/
*.nupkg
project.lock.json
project.assets.json

*.log
logs/
